<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BlaBlaCar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <description>Do not render comments in facelets (xhtml) pages. Default
is false.</description>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistro</display-name>
    <servlet-name>ServletRegistro</servlet-name>
    <servlet-class>servlet.ServletRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistro</servlet-name>
    <url-pattern>/ServletRegistro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>mvc.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.ctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListadosTestJPA</display-name>
    <servlet-name>ServletListadosTestJPA</servlet-name>
    <servlet-class>pruebas.ServletListadosTestJPA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListadosTestJPA</servlet-name>
    <url-pattern>/ServletListadosTestJPA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPruebas</display-name>
    <servlet-name>ServletPruebas</servlet-name>
    <servlet-class>servlet.ServletPruebas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPruebas</servlet-name>
    <url-pattern>/ServletPruebas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/ad</taglib-uri>
      <taglib-location>/WEB-INF/tlds/ad.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ServletTestEJB3</display-name>
    <servlet-name>ServletTestEJB3</servlet-name>
    <servlet-class>servlet.ServletTestEJB3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTestEJB3</servlet-name>
    <url-pattern>/ServletTestEJB3</url-pattern>
  </servlet-mapping>
</web-app>